<div class="store-announcement-bar" role="status" aria-label="Store announcements">
  {{ 'NAV.ANNOUNCEMENT' | translate }}
</div>

<nav
  class="navbar navbar-expand-lg navbar-dark fixed-top store-navbar"
  role="navigation"
>
  <div class="container store-navbar__inner">
    <a class="navbar-brand store-navbar__brand" routerLink="/">
      <img
        class="store-navbar__logo"
        src="assets/store-logo.svg"
        alt="Watches Store"
      />
      <span class="store-navbar__brand-text">
        <strong>Watches</strong>
        <small class="d-block">Luxury timepieces curated online</small>
      </span>
    </a>

    <button
      class="navbar-toggler store-navbar__toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto store-navbar__links">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">{{ 'NAV.HOME' | translate }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/products">{{ 'NAV.COLLECTIONS' | translate }}</a>
        </li>
        <li class="nav-item" *ngIf="appUser?.isAdmin">
          <a class="nav-link" routerLink="/admin/products">{{ 'NAV.MANAGE_PRODUCTS' | translate }}</a>
        </li>
      </ul>

      <form class="store-navbar__search" (ngSubmit)="onSearch()" role="search">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fa fa-search"></i>
            </span>
          </div>
          <input
            type="text"
            class="form-control"
            name="q"
            [(ngModel)]="searchKeyword"
            [placeholder]="'NAV.SEARCH_PLACEHOLDER' | translate"
          />
          <div class="input-group-append">
            <button type="submit" class="btn btn-dark">{{ 'COMMON.GO' | translate }}</button>
          </div>
        </div>
      </form>

      <div class="store-navbar__actions">
        <div ngbDropdown class="d-inline-block mr-2" display="dynamic">
          <button
            ngbDropdownToggle
            type="button"
            class="store-navbar__language-btn"
            [attr.aria-label]="'NAV.CHOOSE_LANGUAGE' | translate"
            id="languageMenu"
          >
            <i class="fa fa-language" aria-hidden="true"></i>
            <span>{{ selectedLanguage | uppercase }}</span>
          </button>
          <div
            ngbDropdownMenu
            class="store-navbar__dropdown store-navbar__dropdown--language"
            aria-labelledby="languageMenu"
          >
            <div class="store-navbar__dropdown-header">{{ 'NAV.DISPLAY_LANGUAGE' | translate }}</div>
            <button
              *ngFor="let l of languages"
              ngbDropdownItem
              type="button"
              class="dropdown-item"
              [class.active]="l.code === selectedLanguage"
              (click)="selectLanguage(l.code)"
            >
              {{ l.labelKey | translate }}
            </button>
          </div>
        </div>

        <div ngbDropdown class="d-inline-block mr-2" display="dynamic">
          <button
            ngbDropdownToggle
            type="button"
            class="store-navbar__currency-btn"
            [attr.aria-label]="'NAV.CHOOSE_CURRENCY' | translate"
            id="currencyMenu"
          >
            <i class="fa fa-globe" aria-hidden="true"></i>
            <span>{{ currencyService.currentCode }}</span>
          </button>
          <div
            ngbDropdownMenu
            class="store-navbar__dropdown store-navbar__dropdown--currency"
            aria-labelledby="currencyMenu"
          >
            <div class="store-navbar__dropdown-header">{{ 'NAV.DISPLAY_CURRENCY' | translate }}</div>
            <button
              *ngFor="let c of currencyService.currencies"
              ngbDropdownItem
              type="button"
              class="dropdown-item"
              [class.active]="c.code === currencyService.currentCode"
              (click)="selectCurrency(c.code)"
            >
              {{ c.label }}
            </button>
          </div>
        </div>

        <ng-container *ngIf="cart$ | async as cart">
          <div ngbDropdown class="d-inline-block">
            <button
              ngbDropdownToggle
              type="button"
              class="store-navbar__cart-btn"
            >
              <i class="fa fa-shopping-bag"></i>
              <span class="store-navbar__cart-count">{{
                cart.totalItemsCount
              }}</span>
            </button>
            <div ngbDropdownMenu class="store-navbar__dropdown">
              <div class="store-navbar__dropdown-header">{{ 'NAV.YOUR_CART' | translate }}</div>
              <ng-container *ngIf="cart.items?.length; else emptyCart">
                <div
                  *ngFor="let item of cart.items.slice(0, 4)"
                  class="store-navbar__cart-row"
                >
                  <div class="store-navbar__cart-row-main">
                    <div class="store-navbar__cart-row-title">
                      {{ item.title }}
                    </div>
                    <div class="store-navbar__cart-row-sub">
                      {{ item.quantity }} {{ 'NAV.PCS' | translate }}
                    </div>
                  </div>
                  <button
                    type="button"
                    class="store-navbar__cart-remove"
                    (click)="removeCartLine(item.$key, $event)"
                    [attr.aria-label]="'Remove ' + item.title + ' from cart'"
                  >
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                  </button>
                </div>
                <div class="text-right mt-2">
                  <a class="btn btn-sm btn-dark" routerLink="/shopping-cart"
                    >{{ 'NAV.VIEW_CART' | translate }}</a
                  >
                </div>
              </ng-container>
              <ng-template #emptyCart>
                <div class="text-muted p-2">{{ 'NAV.CART_EMPTY' | translate }}</div>
              </ng-template>
            </div>
          </div>
        </ng-container>

        <ng-template #anonymousUser>
          <div class="store-navbar__auth-links">
            <a class="store-navbar__account-btn" routerLink="/login">
              <i class="fa fa-user-o"></i>
              <span>{{ 'NAV.SIGN_IN' | translate }}</span>
            </a>
            <!-- <a class="store-navbar__account-btn" routerLink="/register">
              <i class="fa fa-user-plus"></i>
              <span>Register</span>
            </a> -->
          </div>
        </ng-template>

        <div
          ngbDropdown
          *ngIf="appUser; else anonymousUser"
          class="d-inline-block"
        >
          <button
            ngbDropdownToggle
            class="store-navbar__account-btn"
            id="accountMenu"
          >
            <i class="fa fa-user-circle-o"></i>
            <span>{{ appUser.name }}</span>
          </button>
          <div
            ngbDropdownMenu
            class="store-navbar__dropdown"
            aria-labelledby="accountMenu"
          >
            <a class="dropdown-item" routerLink="/my/orders">{{ 'NAV.MY_ORDERS' | translate }}</a>
            <ng-container *ngIf="appUser.isAdmin">
              <a class="dropdown-item" routerLink="/admin/orders"
                >{{ 'NAV.MANAGE_ORDERS' | translate }}</a
              >
              <a class="dropdown-item" routerLink="/admin/products"
                >{{ 'NAV.MANAGE_PRODUCTS' | translate }}</a
              >
              <a class="dropdown-item" routerLink="/admin/products/bulk-upload"
                >{{ 'NAV.BULK_PRODUCT_UPLOAD' | translate }}</a
              >
              <a class="dropdown-item" routerLink="/admin/categories"
                >{{ 'NAV.MANAGE_CATEGORIES' | translate }}</a
              >
              <a class="dropdown-item" routerLink="/admin/home-spotlight"
                >{{ 'NAV.HOME_SLIDER' | translate }}</a
              >
              <a class="dropdown-item" routerLink="/admin/marketplace"
                >{{ 'NAV.MARKETPLACE' | translate }}</a
              >
            </ng-container>
            <button class="dropdown-item" type="button" (click)="logout()">
              {{ 'NAV.LOGOUT' | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<nav class="store-subnav" aria-label="Secondary navigation">
  <div class="container store-subnav__inner">
    <div ngbDropdown class="d-inline-block">
      <button
        ngbDropdownToggle
        type="button"
        class="store-subnav__btn"
        id="brandsMenu"
      >
        <i class="fa fa-diamond" aria-hidden="true"></i>
        <span>{{ 'NAV.BRANDS' | translate }}</span>
      </button>
      <div ngbDropdownMenu class="store-subnav__menu" aria-labelledby="brandsMenu">
        <a ngbDropdownItem routerLink="/products" [queryParams]="{ q: 'Rolex' }">Rolex</a>
        <a ngbDropdownItem routerLink="/products" [queryParams]="{ q: 'Omega' }">Omega</a>
        <a ngbDropdownItem routerLink="/products" [queryParams]="{ q: 'Seiko' }">Seiko</a>
        <a ngbDropdownItem routerLink="/products" [queryParams]="{ q: 'Casio' }">Casio</a>
        <a ngbDropdownItem routerLink="/products" [queryParams]="{ q: 'Tissot' }">Tissot</a>
      </div>
    </div>

    <div ngbDropdown class="d-inline-block">
      <button
        ngbDropdownToggle
        type="button"
        class="store-subnav__btn"
        id="genderMenu"
      >
        <i class="fa fa-user" aria-hidden="true"></i>
        <span>{{ 'NAV.GENDER' | translate }}</span>
      </button>
      <div ngbDropdownMenu class="store-subnav__menu" aria-labelledby="genderMenu">
        <a ngbDropdownItem routerLink="/products" [queryParams]="{ q: 'Men' }">{{ 'NAV.MEN' | translate }}</a>
        <a ngbDropdownItem routerLink="/products" [queryParams]="{ q: 'Women' }">{{ 'NAV.WOMEN' | translate }}</a>
        <a ngbDropdownItem routerLink="/products" [queryParams]="{ q: 'Unisex' }">{{ 'NAV.UNISEX' | translate }}</a>
      </div>
    </div>

    <div ngbDropdown class="d-inline-block">
      <button
        ngbDropdownToggle
        type="button"
        class="store-subnav__btn"
        id="storeLocationMenu"
      >
        <i class="fa fa-map-marker" aria-hidden="true"></i>
        <span>{{ 'NAV.STORE_LOCATION' | translate }}</span>
      </button>
      <div
        ngbDropdownMenu
        class="store-subnav__menu store-subnav__menu--location"
        aria-labelledby="storeLocationMenu"
      >
        <a
          class="store-subnav__location-row"
          href="https://www.google.com/maps/search/?api=1&query=Dubai+Mall+Downtown+Dubai"
          target="_blank"
          rel="noopener noreferrer"
          >{{ 'NAV.LOCATION_1' | translate }}</a
        >
        <a
          class="store-subnav__location-row"
          href="https://www.google.com/maps/search/?api=1&query=The+Galleria+Abu+Dhabi"
          target="_blank"
          rel="noopener noreferrer"
          >{{ 'NAV.LOCATION_2' | translate }}</a
        >
        <a
          class="store-subnav__location-row"
          href="https://www.google.com/maps/search/?api=1&query=Mall+of+the+Emirates+Dubai"
          target="_blank"
          rel="noopener noreferrer"
          >{{ 'NAV.LOCATION_3' | translate }}</a
        >
      </div>
    </div>
  </div>
</nav>
